watch_stylesheet: true
watch_config: true
debug: false
komorebi:
  start_command:  "powershell komorebic start --ahk & powershell komorebic change-layout ultrawide-vertical-stack"
  stop_command:   "powershell komorebic stop --ahk & powershell komorebic stop"
  reload_command: "powershell komorebic stop --ahk & powershell komorebic stop & powershell komorebic start --ahk & powershell komorebic change-layout ultrawide-vertical-stack"
bars:
  primary-bar:
    enabled: true
    screens: ["*"]
    class_name: "yasb-bar"
    alignment:
      position: "top"
      center: false
    blur_effect:
      enabled: true
      acrylic: false
      dark_mode: true
      round_corners: true
      border_color: None
    window_flags:
      always_on_top: false
      windows_app_bar: true
    dimensions:
      width: "100%"
      height: 32
    padding:
      top: 4
      left: 6
      bottom: 0
      right: 6
    widgets:
      left: ["komorebi_workspaces","komorebi_active_layout","active_window"]
      center: ["clock","apps"]
      right: ["taskbar","weather","ahk","workingLauncher","volume","power_menu"]
widgets:
  update:
    type: "yasb.update_check.UpdateCheckWidget"
    options:
      winget_update:
        enabled: true
        label: "<span>\uf0ab</span>{count}"
        interval: 30
        exclude: []
      windows_update:
        enabled: true
        label: "<span>\uf0ab</span>{count}"
        interval: 240
        exclude: []
  active_window:
    type: "yasb.active_window.ActiveWindowWidget"
    options:
      label: "{win[title]}"
      label_alt: "[class_name='{win[class_name]}' exe='{win[process][name]}' hwnd={win[hwnd]}]"
      label_no_window: ""
      label_icon: true
      label_icon_size: 14
      max_length: 56
      max_length_ellipsis: "..."
      monitor_exclusive: false
  clock:
    type: "yasb.clock.ClockWidget"
    options:
      label: "{%a, %d %b %H:%M}"
      label_alt: "{%A, %d %B %Y %H:%M:%S}"
      timezones: []
  komorebi_workspaces:
    type: "komorebi.workspaces.WorkspaceWidget"
    options:
      label_offline: "\u23fc Offline"
      label_workspace_btn: "\udb81\udc3d"
      label_workspace_active_btn: ""
      label_workspace_populated_btn: "\udb81\udc3e"
      label_default_name: "{index}"
      label_zero_index: false
      hide_empty_workspaces: false
      hide_if_offline: true
      animation: true
      container_padding:
        top: 0
        left: 8
        bottom: 0
        right: 8
  komorebi_active_layout:
    type: "komorebi.active_layout.ActiveLayoutWidget"
    options:
      hide_if_offline: true
      label: "{icon}"
      layouts:
        [
          "bsp",
          "columns",
          "rows",
          "grid",
          "vertical_stack",
          "horizontal_stack",
          "ultrawide_vertical_stack",
          "right_main_vertical_stack",
        ]
      layout_icons:
        bsp: "\udb80\udccf"
        columns: "\udb86\udeb7"
        rows: "\udb86\udeb6"
        grid: "\udb80\udec1"
        vertical_stack: "\udb83\udfca"
        horizontal_stack: "\uedf6"
        right_main_vertical_stack: "\udb84\udcab"
        ultrawide_vertical_stack: "\udb82\ude07"
        monocle: "MONOCLE"
        maximised: "MAX"
        floating: "FLOATING"
        paused: "PAUSED"
      container_padding:
        top: 0
        left: 8
        bottom: 0
        right: 8
      callbacks:
        on_left: "next_layout"
        on_middle: "toggle_monocle"
        on_right: "prev_layout"
  weather:
    type: "yasb.weather.WeatherWidget"
    options:
      label: "<span>{icon}</span> {temp_c}/{temp_f}"
      label_alt: "{location}: Min {min_temp_c}/{min_temp_f}, Max {max_temp_c}/{max_temp_f}, Humidity {humidity}"
      api_key: "ac7dd92ac2c74225a54115937242209"
      update_interval: 600
      hide_decimal: true
      location: "USA Glendale Heightes 60139"
      callbacks:
        on_left: "toggle_label"
      icons:
        sunnyDay: "\udb81\udd99"
        clearNight: "\udb81\udd99"
        cloudyDay: "\udb81\udd99"
        cloudyNight: "\udb81\udd99"
        rainyDay: "\udb81\udd99"
        rainyNight: "\udb81\udd99"
        snowyIcyDay: "\udb81\udd99"
        snowyIcyNight: "\udb81\udd99"
        blizzard: "\udb81\udd99"
        default: "\udb81\udd99"
  volume:
    type: "yasb.volume.VolumeWidget"
    options:
      label: "<span>{icon}</span> {level}"
      label_alt: "{volume}"
      volume_icons:
        - "\ueee8"
        - "\uf026"
        - "\uf027"
        - "\uf027"
        - "\uf028"
      callbacks:
        on_right: "exec cmd.exe /c start ms-settings:sound"
  power_menu:
    type: "yasb.power_menu.PowerMenuWidget"
    options:
      label: "\udb81\udc25"
      uptime: True
      blur: True
      blur_background: True 
      animation_duration: 10
      button_row: 5
      buttons:
        shutdown: ["\udb81\udc25", "Shut Down"]
        restart: ["\uead2", "Restart"]
        signout: ["\udb80\udf43", "Sign out"]
        hibernate: ["\uf28e", "Hibernate"]
        sleep: ["\u23fe", "Sleep"]
        cancel: ["", "Cancel"]
  apps:
    type: "yasb.applications.ApplicationsWidget"
    options:
      container_padding:
        top: 0
        left: 8
        bottom: 0
        right: 8
      label: "{data}"
      app_list:
        - { icon: "\uf422", launch: "C:\\Users\\benpb\\AppData\\Local\\FlowLauncher\\Flow.Launcher.exe"}
        - { icon: "\ueb03", launch: "cmd /c Taskmgr" }
        - { icon: "\uf489", launch: "wt" }
        - { icon: "\uf1ff",launch: "C:\\Users\\benpb\\AppData\\Roaming\\Microsoft\\Windows\\Start Menu\\Programs\\Discord Inc\\Discord.lnk" }
        - { icon: "\ue217",launch: "C:\\Users\\benpb\\AppData\\Roaming\\Microsoft\\Windows\\Start Menu\\Programs\\Telegram Desktop\\Telegram.lnk" }
        - { icon: "\uf268",launch: "C:\\Program Files\\WindowsApps\\TheBrowserCompany.Arc_1.31.1.455_x64__ttt1ap7aakyb4\\arc.exe" }
        - { icon: "\uf269",launch: "C:\\Program Files\\Mozilla Firefox\\firefox.exe" }
        - { icon: "\udb83\udc37",launch: "C:\\Program Files\\Zen Browser\\zen.exe" }

  github:
    type: "yasb.github.GithubWidget"
    options:
      label: "<span>\ueba1</span>"
      label_alt: "Notifications {data}"
      token: env
      max_notification: 30
      only_unread: false
      max_field_size: 54
      menu_width: 400
      menu_height: 400
      menu_offset: 240
      update_interval: 60
  taskbar:
    type: "yasb.taskbar.TaskbarWidget"
    options:
      animation: true
      icon_size: 16
      ignore_apps:
        processes: []
        titles: []
        classes: []
      container_padding:
        top: 0
        left: 0
        bottom: 0
        right: 0
  ai:
    type: "yasb.custom.CustomWidget"
    options:
      label: "<span>\udb81\ude74</span>"
      label_alt: "\udb81\ude74"
      class_name: "ai-widget"
      callbacks:
        on_left: "exec cmd.exe /c start \"C:\\Program Files\\Mozilla Firefox\\firefox.exe\" https://platform.openai.com/playground/chat?models=gpt-4o"
  ahk:
    type: "yasb.custom.CustomWidget"
    options:
      label: "<span>\uf11c</span>"
      label_alt: "\udb81\ude74"
      class_name: "ahk-widget"
      callbacks:
        on_left: "exec code \"C:\\Users\\benpb\\.dotfiles\\.config\\komorebi\\OLD"
  workingLauncher:
    type: "yasb.custom.CustomWidget"
    options:
      label: "<span>\udb84\udf75</span>"
      label_alt: "\udb84\udf75"
      class_name: "working_launcher-widget"
      callbacks:
        on_left: "exec cmd.exe /c start \"C:\\Users\\benpb\\AppData\\Local\\PowerToys\\PowerToys.WorkspacesLauncher.exe {AA4A6114-FBF2-453E-9EFE-66A883233F34} 1"
  whkd:
    type: "yasb.whkd.WhkdWidget"
    options:
      label: "<span>\uf11c</span>"
  wallpapers:
    type: "yasb.wallpapers.WallpapersWidget"
    options:
      label: "<span>\udb83\ude09</span>"
      image_path: "C:\\Users\\benp\\Pictures\\Wallpapers"
      change_automatically: false
      update_interval: 60
      gallery:
        enabled: true
        blur: true
        image_width: 296
        image_per_page: 6
        show_buttons: false
        orientation: "landscape"
        image_spacing: 10
        lazy_load: true
        lazy_load_delay: 10
        lazy_load_fadein: 200
        image_corner_radius: 20
        enable_cache: true