
* {
	font-size: 13px;
	color: #cdd6f4;
	font-weight: 500;
	/* font-family: "SegoeUI Nerd Font"; */
	font-family: "JetBrainsMono NFP";
	margin: 0;
	padding: 0;
}
.apps-widget .widget-container{
	margin: 4px 0px 4px 0;
	border-radius: 14px;
	margin-right: 2px;
}
.apps-widget .label {
	font-size: 14px;
	padding: 0 2px;
	font-family: "JetBrainsMono NFP";
}
.apps-widget .label:hover {
	color: #fff;
}
.clock-wiget .label{
	font-weight: bold;
} 
.yasb-bar {
    background-color: rgba(0, 0, 0, 0.061);
	opacity: 0.0;
	padding: 0;
	margin: 0 0px;
}
.widget {
	padding: 0 8px;
	margin: 0 0px;
}
.widget .label {
	padding-bottom: 2px;
    /* font-weight: bold;
	font-family: "Atkinson Hyperlegible"; */
}
.widget .label:hover {
    color: #fff;
}
.container-left,
.container-center,
.container-right {
	margin: 0;
	padding: 0;
}
.komorebi-workspaces .widget-container {
    margin-left: 0px;
}
.komorebi-workspaces .widget-container {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none
}
.komorebi-workspaces .offline-status {
    color: var(--subtext1);
    font-size: 12px;
    padding: 0 0px;
    font-weight: 600;
}
.komorebi-workspaces .ws-btn {
    border: none;
    background-color: #797979;;
    margin: 0 3px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    color: #797979;
}
.komorebi-workspaces .ws-btn:hover {
    color: #bd53ff;
    background-color: #bd53ff;
}
.komorebi-workspaces .ws-btn.populated:hover {
    color: rgba(0, 0, 0, 0);
    background-color: var(--overlay1);
}
.komorebi-workspaces .ws-btn.populated {
    color: rgba(0, 0, 0, 0);
    background-color: #DBBC7F;
}
.komorebi-workspaces .ws-btn.active {
    color: rgba(0, 0, 0, 0);
    background-color: #c080bb;
    width: 28px;
    height: 10px;
}
.search-widget {
    padding: 0 2px;
}
.search-widget .label {
	padding: 0 7px 0 5px;
}


.active-window-widget .widget-container .label {
    font-weight: bold;
    font-family: "Atkinson Hyperlegible";
    padding-left: 3%;
}

.clock-widget {
    font-weight: bold;
	font-family: "Atkinson Hyperlegible";
}
.clock-widget .widget-container {
    font-weight: bold;
	font-family: "Atkinson Hyperlegible";
}
.clock-widget .widget-container .label {
    font-weight: bold;
	font-family: "Atkinson Hyperlegible";
}
.clock-widget .widget-container .label.alt {
    font-weight: bold;
	font-family: "Atkinson Hyperlegible";
}
.clock-widget .widget-container .icon {
    font-weight: bold;
	font-family: "Atkinson Hyperlegible";
}

/*CALENDAR AND VOLUME SLIDER*/
.calendar {
    background-color: #2931362f;
    font-weight: bold;
	font-family: "Atkinson Hyperlegible";
	border-radius: 15%;
    color: #ffffff;
}
.calendar .calendar-table{
	border-radius: 15% ;
    font-weight: bold;
	font-family: "Atkinson Hyperlegible";
}
.calendar .calendar-table,
.calendar .calendar-table::item {
    background-color: rgba(17, 17, 27, 0.049);	
    font-weight: bold;
	font-family: "Atkinson Hyperlegible";
    margin: 0;
    padding: 0;	 
    color: #ffffff;
}
.calendar .calendar-table::item:selected {
    color: #eb9028;	
	border: 1px solid #232a2e6b;
	background-color: #232a2e6b;	
    font-weight: bold;
	font-family: "Atkinson Hyperlegible";
    

}
.calendar .day-label {
    margin-top: 50px;
    font-weight: bold;
	font-family: "Atkinson Hyperlegible";
    color: #ffffff;
}
.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
    font-weight: bold;
	font-family: "Atkinson Hyperlegible";
    font-size: 16px;
    min-width: 180px;
    max-width: 180px;
    color: #ffffff;
}
.calendar .month-label {
    font-weight: bold;
	font-family: "Atkinson Hyperlegible";
    color: #ffffff;
	
}
.calendar .date-label {	
	font-family: "Atkinson Hyperlegible";
    font-size: 88px;
    font-weight: 900;
    margin-top: -2.5%;
    color: #ffffff;
}

.uptime {
	font-size: 14px;
	margin-bottom: 10px;
	color: #ffffff;
	font-weight: 600;
	font-family: "Atkinson Hyperlegible";
}
.power-menu-widget .label {
    color: #f38ba8;
    font-size: 13px;
}
.power-menu-popup {
    background-color: transparent
}
.power-menu-popup .button {
    padding: 0;
    width: 180px;
    height: 230px;
    border-radius: 8px;
    background-color: var(--crust);
    color: var(--text);
    border-left: 4px solid rgba(58, 59, 83, 0);
    border-right: 4px solid rgba(58, 59, 83, 0);
    border-top: 4px solid rgba(58, 59, 83, 0);
    border-bottom: 4px solid rgba(58, 59, 83, 0);
    margin: 0px;
}
.power-menu-popup .button.hover {
    background-color: var(--base);
    border-left: 4px solid var(--base);
    border-right: 4px solid var(--base);
    border-top: 4px solid var(--base);
    border-bottom: 4px solid var(--base);
}

.power-menu-popup .button .label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: var(--overlay2)
}
.power-menu-popup .button .icon {
    font-size: 64px;
    padding-top: 32px;
    color: var(--surface2)
}

.power-menu-popup .button.cancel .icon {
    padding: 0;
    margin: 0;
}
.power-menu-popup .button.cancel .label {
    color: var(--red);
    margin: 0;
}
.power-menu-popup .button.cancel {
    height: 32px;
    border-radius: 4px;
}








/* ICONS */
.icon,
.media-widget .btn,
.media-widget .btn {
	font-family: "Segoe Fluent Icons";
    font-weight: 900;
}
.battery-widget .icon {
    font-size: 18px;
    margin-bottom: 1px;
}
.volume-widget .icon,
.wifi-widget .icon {
    font-family: "Segoe Fluent Icons";
	color: #c5ddfe;
    font-size: 18px;
	font-weight: bold;	
    padding-right: 10%;
}
.volume-widget .label{
	font-weight: bold;	
    font-family: "Atkinson Hyperlegible";
	color: #cacaca;
    /* padding-top: 1.2%; */
}
.cpu-widget .icon,
.memory-widget .icon {
	font-size: 12px;
	color: #cba6f7;
	/* margin: 0 4px 1px 0; */
}
.memory-widget .icon {
	color: #a6c9f7;
}

.search-widget .icon {
    font-size: 16px;
    margin-bottom: 2px;
}
.notification-widget .icon {
    font-size: 20px;
    margin-right: 7px; 
}

/* WEATHER WIDGET */
.weather-widget .icon {
	font-size: 18px;
	margin: -2.5% 0 0 2.5;
    padding-right: 4%;
}
.weather-widget .icon.sunnyDay {
	color: rgb(255, 230, 0);
	font-weight: 900;	
}
.weather-widget .label{
	color: #ffffff;
    font-size: 14px;
    font-weight: 900;
	font-family: "Atkinson Hyperlegible";
}
.weather-widget .icon.clearNight {
	color: rgb(107, 189, 221);
	font-size: 22px;
	margin: 1px 2px 0px 0;
	font-weight: bold;
}
/* Weather card style */
.weather-card {
    background-color:  #2931362f;
    font-weight: bold;
	font-family: "Atkinson Hyperlegible";
	font-weight: 200;
}
/* .weather-card-today {} */
.weather-card-today .label {
    font-size: 12px;
    font-weight: bold;
	font-family: "Atkinson Hyperlegible";
}
.weather-card-today .label.location {
    font-size: 24px;
    font-weight: 700;
    font-weight: bold;
	font-family: "Atkinson Hyperlegible";
}
.weather-card-today .label.arert {
    font-size: 12px;
    background-color:  #2931362f;
    color: rgba(196, 181, 162, 0.85);
    padding: 5px 0;
    font-weight: bold;
	font-family: "Atkinson Hyperlegible";
}
.weather-card-day {
    font-weight: bold;
	font-family: "Atkinson Hyperlegible";
    background-color:   #2931362f;
}
.weather-card-day .label {
    font-size: 12px;
    font-weight: bold;
	font-family: "Atkinson Hyperlegible";
}

/* NEW MEDIA WIDGET */
.media-widget {
    padding-right: 0;
    /* font-family: 'JetBrainsMono NFP'; */
}
.media-widget .label {
    /* font-family:'JetBrainsMono NFP'; */
	color: #cacaca;
	font-weight: bold;	
}
.media-widget .btn {
    /* font-family: 'JetBrainsMono NFP'; */
	padding: 0 5px;
	margin: 4px 2px;
}
.media-widget .btn:hover {
    /* font-family: 'JetBrainsMono NFP'; */
	color: #805291;
}
.media-widget .btn.play {
    /* font-family: 'JetBrainsMono NFP'; */
    border-radius: 12px;
	font-size: 12px;
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
    /* font-family: 'JetBrainsMono NFP'; */
    color: #cacaca;
	font-size: 12px;
	background-color: rgba(0, 0, 0, 0);
}
.taskbar-widget {
    padding: 0;
    margin: 0;
}
.taskbar-widget .app-icon {
    padding-right: 10%;
}

.volume-slider {
    border: none;
}
.audio-menu {
    background-color:#2931362f; 
}
.audio-container .device {
    background-color:transparent;
    border: none;
    padding:6px 8px 6px 4px;
    margin: 2px 0;
    font-size: 12px;
    border-radius: 4px;
}
.audio-container .device.selected {
    background-color: rgba(255, 255, 255, 0.085);
}
.audio-container .device:hover {
    background-color: rgba(255, 255, 255, 0.06);
}
.bluetooth {
    font-family: "Atkinson Hyperlegible";
    font-weight: bold;
    text-align: center;
    margin: auto;
}
.bluetooth-widget .icon {
    font-size: 16px;
    text-align: center;
    /* margin-bottom: 2%;
    padding-right: 1.5%;
    padding-bottom: 2%; */
}