:root {
    --background:#2e3440;
    --red:#bf616a;
    --green:#a3be8c;
    --yellow:#ebcb8b;
    --blue:#3da04265;
    --pink:#b48ead;
    --text:#88d09c;
    --base1: #506a4c73;
    --base2:#22914547;
    --base3:#3e523b62;
}
* {
	font-size: 13px;
	color: #ffffff;
	font-weight: 500;
	/* font-family: "SegoeUI Nerd Font"; */
	font-family: "JetBrainsMono NFP";
	margin: 0;
	padding: 0;
}
.apps-widget .widget-container{
	margin: 4px 0px 4px 0;
	border-radius: 14px;
	margin-right: 2px;
}
.apps-widget .label {
	font-size: 14px;
	padding: 0 2px;
	font-family: "JetBrainsMono NFP";
    color: #ffff;
}
.apps-widget .label:hover {
	color: #13c8b0;
}
.clock-wiget .label{
	font-weight: bold;
} 
.yasb-bar {
    background-color: rgba(0, 0, 0, 0.061);
	opacity: 0.0;
	padding: 0;
	margin: 0 0px;
}
.widget {
	padding: 0 8px;
	margin: 0 0px;
}
.widget .label {
	padding-bottom: 2px;
    /* font-weight: bold;
	font-family: "AtkynsonMono NF"; */
}
.widget .label:hover {
    color: #fff;
}
.container-left,
.container-center,
.container-right {
	margin: 0;
	padding: 0;
}
.komorebi-workspaces .widget-container {
    margin-left: 0px;
}
.komorebi-workspaces .widget-container {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none
}
.komorebi-workspaces .offline-status {
    color: var(--subtext1);
    font-size: 12px;
    padding: 0 0px;
    font-weight: 600;
}
.komorebi-workspaces .ws-btn {
    border: none;
    background-color: #797979;;
    margin: 0 3px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    color: #797979;
}
.komorebi-workspaces .ws-btn:hover {
    color: #bd53ff;
    background-color: #bd53ff;
}
.komorebi-workspaces .ws-btn.populated:hover {
    color: rgba(0, 0, 0, 0);
    background-color: var(--overlay1);
}
.komorebi-workspaces .ws-btn.populated {
    color: rgba(0, 0, 0, 0);
    background-color: #DBBC7F;
}
.komorebi-workspaces .ws-btn.active {
    color: rgba(0, 0, 0, 0);
    background-color: #c080bb;
    width: 28px;
    height: 10px;
}
.search-widget {
    padding: 0 2px;
}
.search-widget .label {
	padding: 0 7px 0 5px;
}


.active-window-widget .widget-container .label {
    /* font-weight: bold; */
    font-family: "AtkynsonMono NF";
    padding-left: 3%;
}

.clock-widget {
    /* font-weight: bold; */
	font-family: "AtkynsonMono NF";
}
.clock-widget .widget-container {
    /* font-weight: bold; */
	font-family: "AtkynsonMono NF";
}
.clock-widget .widget-container .label {
    /* font-weight: bold; */
	font-family: "AtkynsonMono NF";
}
.clock-widget .widget-container .label.alt {
    /* font-weight: bold; */
	font-family: "AtkynsonMono NF";
}
.clock-widget .widget-container .icon {
    /* font-weight: bold; */
	font-family: "AtkynsonMono NF";
}

/*CALENDAR AND VOLUME SLIDER*/
.calendar {
    background-color: #2931362f;
    /* font-weight: bold; */
	font-family: "AtkynsonMono NF";
	border-radius: 15%;
    /* color: #ffffff; */
}
.calendar .calendar-table{
	border-radius: 15% ;
    /* font-weight: bold; */
	font-family: "AtkynsonMono NF";
}
.calendar .calendar-table,
.calendar .calendar-table::item {
    background-color: rgba(17, 17, 27, 0.049);	
    /* font-weight: bold; */
	font-family: "AtkynsonMono NF";
    margin: 0;
    padding: 0;
 
    /* color: #ffffff; */
}
.calendar .calendar-table::item:selected {
    color: #c8ffe2;	
    border-radius: 50%;
	border: 1px solid #ffffff;
	background-color: #baffe154;	
    font-weight: bold;
	font-family: "AtkynsonMono NF";
    

}
.calendar .day-label {
    text-align: center;
    /* font-weight: bold; */
	font-family: "AtkynsonMono NF";
    /* color: #ffffff; */
}
.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
    /* font-weight: bold; */
	font-family: "AtkynsonMono NF";
    font-size: 16px;
    min-width: 180px;
    max-width: 180px;
    /* color: #ffffff; */
}
.calendar .month-label {
    /* font-weight: bold; */
	font-family: "AtkynsonMono NF";
    /* color: #ffffff; */
	
}
.calendar .date-label {	
	font-family: "AtkynsonMono NF";
    font-size: 88px;
    font-weight: 900;
    margin-top: -2.5%;
    /* color: #ffffff; */
}

.uptime {
	font-size: 14px;
	margin-bottom: 10px;
	/* color: #ffffff; */
	font-weight: 600;
	font-family: "AtkynsonMono NF";
}

/*POWER MENU POPUP*/
.uptime {
	font-size: 14px;
	margin-bottom: 10px;
	color: rgba(191, 202, 219, 0.726);
	font-weight: 600;
	font-family: "Bahnschrift", Tahoma, Geneva, Verdana, sans-serif;
}
.power-menu-popup .button {
	padding: 0px;
	width: 280px;
	height: 250px;
	border-radius: 20px;
	background-color: var(--base3);
	font-family: "Bahnschrift", Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	border: 4px solid rgba(255, 255, 255, 0);

}
.power-menu-popup .button.hover {
	background-color: var(--base2);
	border: 0px solid rgb(55, 56, 75);

}
.power-menu-popup .button .label {
	margin-bottom: 8px;
	font-size: 20px;
	font-weight: 600;
	color: rgb(238, 238, 238);
	font-family: "Bahnschrift", Tahoma, Geneva, Verdana, sans-serif;
}
.power-menu-popup .button .icon {
	font-size: 100px;
	padding-top: 52px;
	color: var(--text);
    align-content: center;

}
.power-menu-popup .button.cancel .icon {
	color: var(--red);

}
.power-menu-popup .button.cancel .label {
	color: rgba(243, 139, 168, 0.95);

}


/* ICONS */
.icon{
	font-family: "Segoe Fluent Icons";
    font-weight: 900;
}
.battery-widget .icon {
    font-size: 18px;
    margin-bottom: 1px;
}
.volume-widget .icon,
.wifi-widget .icon {
    font-family: "Segoe Fluent Icons";
	/* color: #c5ddfe; */
    font-size: 18px;
	font-weight: bold;	
    padding-right: 10%;
}
.volume-widget .label{
	/* font-weight: bold;	 */
    font-family: "AtkynsonMono Nerd Font";
	/* color: #cacaca; */
    /* padding-top: 1.2%; */
}
.cpu-widget .icon,
.memory-widget .icon {
	font-size: 12px;
	color: #cba6f7;
	/* margin: 0 4px 1px 0; */
}
.memory-widget .icon {
	color: #a6c9f7;
}

.search-widget .icon {
    font-size: 16px;
    margin-bottom: 2px;
}
.notification-widget .icon {
    font-size: 20px;
    margin-right: 7px; 
}


.komorebi-control-widget .label {
    font-size: 14px;
    color: #cdd6f4;
    font-weight: 600;
}
.komorebi-control-menu {
    background-color: rgba(17, 17, 27, 0.2);
}
.komorebi-control-menu .button {
    color: rgba(162, 177, 199, 0.4);
    padding: 8px 16px;
    font-size: 32px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.04);
}
.komorebi-control-menu .button.active {
    color: rgb(228, 228, 228);
    background-color: rgba(255, 255, 255, 0.04);
}
.komorebi-control-menu .button:disabled,
.komorebi-control-menu .button.active:disabled {
    background-color: rgba(255, 255, 255, 0.01);
    color: rgba(255, 255, 255, 0.2);
}
.komorebi-control-menu .footer .text {
    font-size: 12px;
    color: #6c7086;
}

.taskbar-widget .app-container {
    /* margin: 4px 2px; */
    border-radius: 4px;
    padding: 0 4px;
    margin: 1px 1px 1px 1px;
}
.taskbar-widget .app-container.foreground {
    background-color: #695a6e;

}
.taskbar-widget .app-container.flashing {
    background-color: rgba(255, 106, 106, 0.63);
}
.taskbar-widget .app-container .app-title {
    padding-left: 4px;
}
.volume-slider {
    border: none;
}
.audio-menu {
    background-color:#2931362f; 
    font-family: "AtkynsonMono NF";
}
.audio-container .device {
    background-color:transparent;
    border: none;
    font-family: "AtkynsonMono NF";
    padding:6px 8px 6px 4px;
    margin: 2px 0;
    font-size: 12px;
    border-radius: 4px;
}
.audio-container .device.selected {
    background-color: rgba(255, 255, 255, 0.085);
    font-family: "AtkynsonMono NF";
}
.audio-container .device:hover {
    background-color: rgba(255, 255, 255, 0.06);
    font-family: "AtkynsonMono NF";
}
.bluetooth {
    font-family: "AtkynsonMono NF";
    /* font-weight: bold; */
    text-align: center;
    margin: auto;
}
.bluetooth-widget .icon {
    font-size: 16px;
    text-align: center;
    /* margin-bottom: 2%;
    padding-right: 1.5%;
    padding-bottom: 2%; */
}

.systray {
    background: transparent;
    border: none;
    margin: 0;
}

.systray .unpinned-container {
    background: rgb(63, 63, 71);
    border-radius: 8px;
}

.systray .pinned-container {
    background: transparent;
}

.systray .pinned-container[forceshow=true] {
    background: red;
}

.systray .button {
    border-radius: 4px;
    padding: 2px 2px;
}

.systray .button:hover {
    background: #727272;
}

.systray .button[dragging=true] {
    background: orange;
    border-color: #FF8800;
}

.systray .unpinned-visibility-btn {
    border-radius: 4px;
    height: 20px;
    width: 16px;
}

.systray .unpinned-visibility-btn:checked {
    background: rgba(90, 90, 103, 0.435);
}

.systray .unpinned-visibility-btn:hover {
    border: 1px solid #AAAAAA;
    border-radius: 4px;
    border-color: #AAAAAA;
}

/* 

.weather-widget .icon {
	font-size: 18px;
	margin: -2.5% 0 0 2.5;
    padding-right: 4%;
}
.weather-widget .icon.sunnyDay {
	color: rgb(255, 230, 0);
	font-weight: 900;	
}
.weather-widget .label{
	color: #ffffff;

	font-family: "AtkynsonMono NF";
}
.weather-widget .icon.clearNight {
	color: rgb(107, 189, 221);
	font-size: 22px;
	margin: 1px 2px 0px 0;

    font-weight: 900;
}
Weather card style
.weather-card {
    background-color:  #2931362f;
    font-weight: bold;
	font-family: "AtkynsonMono NF";
	font-weight: 900;
}
/* .weather-card-today {} 
.weather-card-today .label {
    font-size: 12px;

	font-family: "AtkynsonMono NF";
}
.weather-card-today .label.location {
    font-size: 24px;
    font-weight: 700;
    
	font-family: "AtkynsonMono NF";
}
.weather-card-today .label.arert {
    font-size: 12px;
    background-color:  #2931362f;
    
    padding: 5px 0;
   
	font-family: "AtkynsonMono NF";
}
.weather-card-day {
   
	font-family: "AtkynsonMono NF";
    background-color:   #2931362f;
}
.weather-card-day .label {
    font-size: 12px;
   
	font-family: "AtkynsonMono NF";
}
*/
.weather-widget {}
.weather-widget.your_class {} /* If you are using class_name option */
.weather-widget .widget-container {}
.weather-widget .label {
    font-family: "AtkynsonMono NF";
}
.weather-widget .label.alt {
    font-family: "AtkynsonMono NF";
}
.weather-widget .icon {
    padding-right: .5em;
}

/* Individual weather icons */
.weather-widget .icon.sunnyDay {}
.weather-widget .icon.clearNight {}
.weather-widget .icon.cloudyDay {}
.weather-widget .icon.cloudyNight {}
.weather-widget .icon.rainyDay {}
.weather-widget .icon.rainyNight {}
.weather-widget .icon.snowyIcyDay {}
.weather-widget .icon.snowyIcyNight {}
.weather-widget .icon.blizzardDay {}
.weather-widget .icon.blizzardNight {}
.weather-widget .icon.foggyDay {}
.weather-widget .icon.foggyNight {}
.weather-widget .icon.thunderstormDay {}
.weather-widget .icon.thunderstormNight {}
.weather-widget .icon.default {}

/* Weather card style */
.weather-card {
    background-color: rgba(17, 17, 27, 0.5);
}
.weather-card-today {
    font-family: "AtkynsonMono NF";
    border: 1px solid #282936;
    border-radius: 8px;
    background-color:  rgba(17, 17, 27, 0.2);
}
.weather-card-today .label {
    font-family: "AtkynsonMono NF";
    font-size: 12px;
}
.weather-card-today .label.location {
    font-size: 24px;
    font-weight: 700;
}
.weather-card-today .label.alert {
    font-size: 12px;
    font-weight: 700;
    background-color: rgba(247, 199, 42, 0.05);
    border: 1px solid rgba(247, 209, 42, 0.1);
    color: rgba(196, 181, 162, 0.85);
    border-radius: 6px;
    padding: 5px 0;
}
.weather-card-day {
    border: 1px solid #45475a;
    border-radius: 8px;
    background-color:  rgba(17, 17, 27, 0.2);
}

.weather-card-day.active {
    background-color: rgba(40, 40, 60, 0.6);
    border: 1px solid rgba(50, 50, 75, 1);
}

.weather-card-day:hover {
    background-color: rgba(40, 40, 60, 0.6);
}

.weather-card-day .label {
    font-size: 12px;
}

.weather-card .hourly-container {
    border: 1px solid #282936;
    background-color: #3c5fa03a;
    border-radius: 8px;
    min-height: 150px;
}

.weather-card .hourly-data {
    font-family: "AtkynsonMono NF";
    /* color: cyan;*/ /* <- Font color */
    background-color: #FAE93F; /* <- Curve color */
    font-size: 12px;
    font-weight: bold;
}

.media-widget {
    padding: 0;
    margin: 0;
}
.media-widget .label {
    /* color: #bac2db; */
    /* background-color: rgba(24, 24, 37, 0.7); */
    padding: 0px;
    padding-right: 4px;
    font-size: 12px;
}
.media-widget .btn {
    color: #ffffff;
	padding: 0 5px;
	margin: 4px 2px;
    font-size: 12px;
    font-family: Segoe Fluent Icons;
    font-weight: 300;
}
.media-widget .btn:hover {
    /* color: #babfd3; */
}
.media-widget .btn.play {
    font-size: 12px;
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
    /* color: #4e525c; */
    /* font-size: 12px; */
    /* background-color: rgba(0, 0, 0, 0); */
}
.media-menu {
    min-width: 420px;
    max-width: 420px;
    background-color: rgb(27, 18, 51);
}
.media-menu .title,
.media-menu .artist,
.media-menu .source {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.media-menu .artist {
    font-size: 13px;
    color: #6c7086;
    margin-top: 0px;
    margin-bottom: 8px;
}
.media-menu .source {
    font-size: 11px;
    color: #000;
    font-weight: normal;
    border-radius: 3px;
    background-color: #bac2de;
    padding: 2px 4px;

}
/* The source class name is the same as what you see in the media widget; just replace spaces with dashes and convert it to lowercase. 
Example: "Windows Media" becomes "windows-media" */
.media-menu .source.zen {
    background-color: #ff583b;
    color: #ffffff;
}
.media-menu .source.spotify {
    background-color: #199143;
    color: #ffffff;
}
.media-menu .source.edge {
    background-color: #0078d4;
    color: #ffffff;
}
.media-menu .source.windows-media {
    background-color: #0078d4;
    color: #ffffff;
}

.media-menu .btn {
    font-family: "Segoe Fluent Icons";
    font-size: 14px;
    font-weight: 400;
    margin: 10px 2px 0px 2px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 20px;
}
.media-menu .btn.prev {
    margin-left: 10px;
}
.media-menu .btn:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}
.media-menu .btn.play {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 20px
}
.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
    color: #4e525c;
    background-color: rgba(0, 0, 0, 0.594);
}

.media-menu .playback-time {
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #7f849c;
    margin-top: 20px;
    min-width: 100px;
}
.media-menu .progress-slider {
    height: 10px;
    margin: 5px 4px;
    border-radius: 3px;
}
.media-menu .progress-slider::groove {
    background: transparent;
    height: 2px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);

}
.media-menu .progress-slider::groove:hover {
    background: transparent;
    height: 6px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.2);
}
.media-menu .progress-slider::sub-page {
    background: white;
    border-radius: 3px;
    height: 4px;
}